<a href="https://colab.research.google.com/github/DevVaibhav96/Adventure-Project/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
#Method	Syntax	Use / Description
1)	append()	list.append(element)	        Adds a single element to the end of the list
2)	extend()	list.extend(iterable)	        Adds all elements of an iterable (like list, tuple) to the end of the list
3)	insert()	list.insert(index, value)	    Inserts an element at the specified index position
4)	remove()	list.remove(value)	          Removes the first occurrence of a value
5)	pop()	    list.pop(index)	              Removes and returns the element at the given index. If no index, removes last element
6)	clear()	  list.clear()	                Removes all elements from the list
7)	index()	  list.index(value)	            Returns the index of the first occurrence of the value
8)	count()	  list.count(value)	            Returns the number of times a value appears in the list
9)	sort()	  list.sort()	                  Sorts the list in ascending order (modifies in place)
10)	reverse()	list.reverse()	              Reverses the elements of the list in place
11)	copy()	  list.copy()	                  Returns a shallow copy of the list

In [ ]:
my_list = [10, "apple", [5, 6], "banana", 20, (1, 2), "apple", 10]
print("Initial List:", my_list)

my_list.append("cherry")
print("After append('cherry'):", my_list)

my_list.extend(["grape", 99])
print("After extend(['grape', 99]):", my_list)

my_list.insert(2, "inserted")
print("After insert(2, 'inserted'):", my_list)

my_list.remove("apple")
print("After remove('apple'):", my_list)

popped_item = my_list.pop(3)
print("After pop(3):", my_list)
print("Popped Item:", popped_item)

copied_list = my_list.copy()
my_list.clear()
print("After clear():", my_list)

print("\nWorking on copied list:", copied_list)

apple_index = copied_list.index("apple")
print("Index of 'apple':", apple_index)

apple_count = copied_list.count("apple")
print("Count of 'apple':", apple_count)

int_list = [item for item in copied_list if type(item) == int]
int_list.sort()
print("Sorted list of integers:", int_list)

copied_list.reverse()
print("After reverse():", copied_list)

new_copy = copied_list.copy()
print("Shallow copy of copied_list:", new_copy)

In [ ]:
# Creating a complex list with mixed types: integers, strings, sublists, tuples
my_list = [10, 'Apple', [5, 6], 'Banana', '20', (3, 5, 2), (7, 5, 2),'Apple',10]

print("Initial list: ", my_list)

#1 Append(x): A add an item to the end of list
my_list.append("Cherry")
print("Ater append(cherry): ", my_list)

#2) extend(iterable) - Extend list by appending elements from an iterable
my_list.extend(['grape', 991])
print("After extend(['Grape', 991]): ", my_list)

# 3. insert(i, x) – Insert item x at position i
my_list.insert(2, "inserted")
print("After insert(2, 'inserted'): ", my_list)

# 4. remove(x) – Remove first occurrence of value x
my_list.remove("Apple")
print("Afer remove(Apple):", my_list)
# 5. pop([i]) – Remove and return item at index i (or last if not specified)
popped_item = my_list.pop(3)
print("After pop(3): ", my_list)
print("Popped item: ", popped_item)

# 6. clear() – Remove all items from the list
copied_list = my_list.copy() # Save a copy before clearing for further methods
my_list.clear()
print("Afer clear(): ", my_list)

#Continue with copied_list for rest of the methods
print("\n working on copied list:", copied_list)

# 7. index(x) – Return first index of value x
apple_index = copied_list.index("Apple")
print("Index of 'Apple': ", apple_index)

#8. count(x) – Return number of times x appears in list
count_10 = copied_list.count(10)
print("Count of 10 is: ", count_10)

# 9. sort() – Sort the list in ascending order (only works with uniform types)

#list comprehension:List comprehension is a short and elegant way to create a new list
#by applying a loop and condition in one line.
#It replaces the longer for loop method for creating lists.

#✅Syntax: new_list = [expression for item in iterable if condition]

      #expression ---> Operation to perform on each item
      #item ---> Current element from the iterable
      #iterable ---> Any sequence like list, tuple, range, etc.
      #condition---> (Optional) Only include the item if True

#int_list = [item dor item in copied_list if type(item) == int]
int_list = [i for i in copied_list if type(i) == int]
int_list.sort()
print("Sorted list of integers:", int_list)

new_list = [i for i in copied_list if type(i) == tuple ]
new_list.sort()
print('Sorted tuple element is: ', new_list)

# 10. reverse() – Reverse the elements of the list in place
copied_list.reverse()
print("After reverse(): ", copied_list)

# 11. copy() – Return a shallow copy of the list
new_copy = copied_list.copy()
print("Shallow copy of copied_list: ", new_copy)

Initial list:  [10, 'Apple', [5, 6], 'Banana', '20', (3, 5, 2), (7, 5, 2), 'Apple', 10]
Ater append(cherry):  [10, 'Apple', [5, 6], 'Banana', '20', (3, 5, 2), (7, 5, 2), 'Apple', 10, 'Cherry']
After extend(['Grape', 991]):  [10, 'Apple', [5, 6], 'Banana', '20', (3, 5, 2), (7, 5, 2), 'Apple', 10, 'Cherry', 'grape', 991]
After insert(2, 'inserted'):  [10, 'Apple', 'inserted', [5, 6], 'Banana', '20', (3, 5, 2), (7, 5, 2), 'Apple', 10, 'Cherry', 'grape', 991]
Afer remove(Apple): [10, 'inserted', [5, 6], 'Banana', '20', (3, 5, 2), (7, 5, 2), 'Apple', 10, 'Cherry', 'grape', 991]
After pop(3):  [10, 'inserted', [5, 6], '20', (3, 5, 2), (7, 5, 2), 'Apple', 10, 'Cherry', 'grape', 991]
Popped item:  Banana
Afer clear():  []

 working on copied list: [10, 'inserted', [5, 6], '20', (3, 5, 2), (7, 5, 2), 'Apple', 10, 'Cherry', 'grape', 991]
Index of 'Apple':  6
Count of 10 is:  2
Sorted list of integers: [10, 10, 991]
Sorted tuple element is:  [(3, 5, 2), (7, 5, 2)]
After reverse():  [991, 'grape', 'Cherry', 10, 'Apple', (7, 5, 2), (3, 5, 2), '20', [5, 6], 'inserted', 10]
Shallow copy of copied_list:  [991, 'grape', 'Cherry', 10, 'Apple', (7, 5, 2), (3, 5, 2), '20', [5, 6], 'inserted', 10]

In [ ]:
#01 creating a list in python

empty_list = []
print(empty_list)
print(type(empty_list))

# 02) list with elements

num = [4, 5, 6, 8, 9]
print(num)

#03) list as function
print("list as function")
empty_list = list()
print(empty_list)
print(type(empty_list))

#04)  duplicates in list
duplicates = [10, 33, 20, 34, 10, 20, 45, 45]
print(duplicates)
print(type(duplicates))

#05) iterating over a list using loop

num = [1, 4, 40, 50, 30]
for i in num:
    print(i)

num2 = ['Saurya', 'Madam', "Tanmay", 'Mandar']
for j in num2:
  print(j)

[]
<class 'list'>
[4, 5, 6, 8, 9]
list as function
[]
<class 'list'>
[10, 33, 20, 34, 10, 20, 45, 45]
<class 'list'>
1
4
40
50
30
Saurya
Madam
Tanmay
Mandar

In [ ]:
#06) list operator

d1 = [10, 30]
d2 = [10, 30, 40, 20]
d3 = [15, 45]

# addition
print(d1 + d2)
print(d2 + d3)

#multiplication
print("multiply d2: ", d2*2)
print("Multiply d3: ", d3*3)

#membership check
print(40 in d2) # True
print(11 in d1) # False

#Equality operator
print(d1 == d2) # False
print(d1 != d2) # True

[10, 30, 10, 30, 40, 20]
[10, 30, 40, 20, 15, 45]
multiply d2:  [10, 30, 40, 20, 10, 30, 40, 20]
Multiply d3:  [15, 45, 15, 45, 15, 45]
True
False
False
True

In [ ]:
# (If You Want Element-wise Multiplication):

list1 = [5, 10, 2]
list2 = [2, 3, 4]


#✅ 1. Using List Comprehension
#✅Syntax: new_list = [expression for item in iterable if condition]

multiply_com = [a * b for a, b in zip(list1, list2)]  #zip(list1, list2) joins both lists element by element as pairs (tuples).


print("By List Comprehension Multiply_com:", multiply_com)

#✅ 2. Using a For Loop
multiply_loop = []          # Empty list to store the results
for i in range(len(list1)):   # range(3) → 0, 1, 2 (indexes)
  multiply_loop.append(list1[i] * list2[i])
  #Here, you are calculating a product (list1[i] * list2[i]) and then adding that number to the new list

print("BY using for loop, multiply_loop:", multiply_loop)


#✅3. Using NumPy (Best for performance and large data)

import numpy as np                            # Import NumPy library
multiply_numpy = np.multiply(list1, list2)    # Multiply corresponding elements of list1 and list2 using NumPy
result = multiply_numpy.tolist()              # Convert NumPy array back to a normal Python list #array([10, 30, 8]) → [10, 30, 8]
print("Using NumPy multiply_numpy:", result)

#✅4 : Unequal Length Lists → Multiply till shortest
L1 = [5, 10, 10, 20] # Extra element ignored
L2 = [2, 4, 6]
  # List Comprehension also applying conditional

result = [a * b for a, b in zip(L1, L2) if a > 5]
zipped_list = list(zip(L1, L2)) # zip(L1, L2) joins both lists element by element as pairs (tuples).

print("print(zipped_list):", zipped_list)

print("Unequal Length Lists", result)

#✅5: Using RDD:

from pyspark import SparkContext
sc = SparkContext.getOrCreate()

L1 = [5, 10, 10] # Extra element ignored use
L2 = [2, 4, 6]

rdd1 = sc.parallelize(L1)
rdd2 = sc.parallelize(L2)

result_rdd =rdd1.zip(rdd2).map(lambda x: x[0] * x[1])
print("Rdd: ",result_rdd.collect())
#Each x is a tuple like (5, 2), where x[0] is the first value (5), x[1] is the second value (2), and x[0] * x[1] multiplies them (5 * 2 = 10).

By List Comprehension Multiply_com: [10, 30, 8]
BY using for loop, multiply_loop: [10, 30, 8]
Using NumPy multiply_numpy: [10, 30, 8]
print(zipped_list): [(5, 2), (10, 4), (10, 6)]
Unequal Length Lists [40, 60]
Rdd:  [10, 40, 60]

In [ ]:
# Accessing element of the list

list = [2, 5, 6, 7, 10]

#listname[index position of element]

# Accessing  first element
print(list[0])

#Accessing  3rd element
print(list[2])

2
6

In [ ]:
# p8: List of programming languages
lang = ['python', 'cobol', 'java', 'javascript', 'c++', 'swift']

# ✅ Accessing first element using positive index
print("lang[0] =", lang[0])      # Output: python

# ✅ Accessing last element using negative index
print("lang[-1] =", lang[-1])    # Output: swift

# ✅ Accessing second last element
print("lang[-2] =", lang[-2])    # Output: c++

# ✅ Accessing third last element
print("lang[-3] =", lang[-3])    # Output: javascript

lang[0] = python
lang[-1] = swift
lang[-2] = c++
lang[-3] = javascript

In [ ]:
# ✅9)List  Slicing in Python
# ✅ Create a list of days
'''Slicing means extracting a portion (part) of a list, string, or tuple using the colon : operator.'''
'''
start: Starting index (included)

stop: Stopping index (excluded)

step: Gap between elements (can be positive or negative)

'''
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

#Index:     0      1      2      3      4      5      6      → Positive Index
#Index:    -7     -6     -5     -4     -3     -2     -1      → Negative Index

# ✅ Rule: days[start:stop:step] → Start is inclusive, Stop is exclusive

# ➤ Step 1: Slice from index 1 to 5
print("Step 1:", days[1:6])         # ['Tue', 'Wed', 'Thu', 'Fri', 'Sat']

# ➤ Step 2: Slice from index 1 to 6 with step 2
print("Step 2:", days[1:6:2])       # ['Tue', 'Thu', 'Sat']

# ➤ Step 3: Slice entire list with step 3
print("Step 3:", days[::3])         # ['Mon', 'Thu', 'Sun']

# ➤ Step 4: Slice from index 0 to 5 with step 2
print("Step 4:", days[0:6:2])       # ['Mon', 'Wed', 'Fri']

# ➤ Step 5: Slice list in reverse (last to first)
print("Step 5:", days[::-1])        # ['Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon']

# ➤ Step 6: Slice from index 6 to 0 with step -2
print("Step 6:", days[6:0:-2])      # ['Sun', 'Fri', 'Wed', 'Tue']

Step 1: ['Tue', 'Wed', 'Thu', 'Fri', 'Sat']
Step 2: ['Tue', 'Thu', 'Sat']
Step 3: ['Mon', 'Thu', 'Sun']
Step 4: ['Mon', 'Wed', 'Fri']
Step 5: ['Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon']
Step 6: ['Sun', 'Fri', 'Wed']

In [ ]:
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

# Index:     0      1      2      3      4      5      6      → Positive Index
# Index:    -7     -6     -5     -4     -3     -2     -1      → Negative Index

print("Step 1: Slice the list from index 1 to 5 →", days[1:6])              # ['Tue', 'Wed', 'Thu', 'Fri', 'Sat']
print("Step 2: Slice from index 1 to 6 with step 2 →", days[1:6:2])         # ['Tue', 'Thu', 'Sat']
print("Step 3: Slice the entire list with step 3 →", days[::3])            # ['Mon', 'Thu', 'Sun']
print("Step 4: Slice from index 0 to 5 with step 2 →", days[0:6:2])         # ['Mon', 'Wed', 'Fri']
print("Step 5: Slice the list in reverse order →", days[::-1])             # ['Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon']
print("Step 6: Slice from index 6 to 0 with step -2 →", days[6:0:-2])       # ['Sun', 'Fri', 'Wed']

Step 1: Slice the list from index 1 to 5 → ['Tue', 'Wed', 'Thu', 'Fri', 'Sat']
Step 2: Slice from index 1 to 6 with step 2 → ['Tue', 'Thu', 'Sat']
Step 3: Slice the entire list with step 3 → ['Mon', 'Thu', 'Sun']
Step 4: Slice from index 0 to 5 with step 2 → ['Mon', 'Wed', 'Fri']
Step 5: Slice the list in reverse order → ['Sun', 'Sat', 'Fri', 'Thu', 'Wed', 'Tue', 'Mon']
Step 6: Slice from index 6 to 0 with step -2 → ['Sun', 'Fri', 'Wed']

In [ ]:
#9 ✅ List Slicing in Python
# Create a list of alphabets
a = ['p',  'q',  'r',  's',  't',  'u',  'v',  'w',  'x',  'y',  'z']
#Index:0    1    2    3    4    5    6    7    8    9   10   → Positive Index # left to right.
#Index:-11 -10  -9   -8   -7   -6   -5   -4   -3   -2   -1   → Negative Index # right to left.

# ✅ Rule: a[start:stop] —> Start is inclusive, Stop is exclusive

# ➤ Step 2: Slice from index 1 to 9
print(a[1:10])        # ['q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y']

# ➤ Step 3: Slice from index 1 to 9 with step 2
print(a[1:10:2])      # ['q', 's', 'u', 'w', 'y']

# ➤ Step 4: Slice from start to end with step 3
print(a[::3])         # ['p', 's', 'v', 'y']

# ➤ Step 5: Slice from index 2 to 8 with step 2
print(a[2:9:2])       # ['r', 't', 'v', 'x']

# ✅ Rule: Negative step → slicing in reverse direction

# ➤ Step 6: Slice entire list in reverse order
print(a[::-1])        # ['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p']

# ➤ Step 7: Slice from index 10 to 0 in reverse with step -2
print(a[10:0:-2])     # ['z', 'x', 'v', 't', 'r']

['q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y']
['q', 's', 'u', 'w', 'y']
['p', 's', 'v', 'y']
['r', 't', 'v', 'x']
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p']
['z', 'x', 'v', 't', 'r']

In [ ]:
'''
1. Slice from index 1 to 9
2. Slice from index 1 to 9 with step 2
3. Slice from start to end with step 3
4. Slice from index 2 to 8 with step 2
5. Slice entire list in reverse order
6. Slice from index 10 to 0 in reverse with step -2
7. Slice first 5 elements from the list
8. Slice last 5 elements from the list
9. Slice every second element from the list # Step 2 emement only
10. Slice every third element in reverse
11. Slice elements from index 3 to 7
12. Slice elements from index -7 to -2
13. Slice from index 4 to end
14. Slice from start to index 7 (exclusive)
15. Slice alternate elements starting from index 0 to 10
'''

# Create a list of alphabets
a  = ['p',  'q',  'r',  's',  't',  'u',  'v',  'w',  'x',  'y',  'z']
    #Index:0    1    2    3    4    5    6    7    8    9   10   → Positive Index # left to right.
    #Index:-11 -10  -9   -8   -7   -6   -5   -4   -3   -2   -1   → Negative Index # right to left.
    #[start:stop:step]
print("index 1 to 9:", a[1:10])
print("index 1 to 9 with step 2 is ", a[1:10:2])
print("start to end with step 3 is ", a[0:10:3]) #Not give always same output with a[::3])
print("start to end with step 3 is ", a[::3])
print("index 2 to 8 with step 2 is ", a[2:8:2])
print("entire list in reverse order is", a[: : -1])
print("index 10 to 0 in reverse with step -2", a[10:0:-2])
print("Slice first 5 elements is", a[0:5])
print("Slice last 5 elements is", a[-5:] )
print("Slice last 5 elements is", a[-1:-6:-1])
print("Slice every second element from the list", a[: :2])
print("Slice every third element in reverse is", a[-1:-11:-3])   # or a[: : -3])
print("Slice every third element in reverse is ",a[: : -3])
print("Slice elements from index 3 to 7 is ", a[3:7])
print("Slice elements from index -7 to -2 is ", a[-7: -2])
print("Slice from index 4 to end is", a[4:])
print("Slice from start to index 7 (exclusive) is", a[0:7])
print("Slice alternate elements starting from index 0 to 10 is", a[0:10:2])

index 1 to 9: ['q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y']
index 1 to 9 with step 2 is  ['q', 's', 'u', 'w', 'y']
start to end with step 3 is  ['p', 's', 'v', 'y']
start to end with step 3 is  ['p', 's', 'v', 'y']
index 2 to 8 with step 2 is  ['r', 't', 'v']
entire list in reverse order is ['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p']
index 10 to 0 in reverse with step -2 ['z', 'x', 'v', 't', 'r']
Slice first 5 elements is ['p', 'q', 'r', 's', 't']
Slice last 5 elements is ['v', 'w', 'x', 'y', 'z']
Slice last 5 elements is ['z', 'y', 'x', 'w', 'v']
Slice every second element from the list ['p', 'r', 't', 'v', 'x', 'z']
Slice every third element in reverse is ['z', 'w', 't', 'q']
Slice every third element in reverse is  ['z', 'w', 't', 'q']
Slice elements from index 3 to 7 is  ['s', 't', 'u', 'v']
Slice elements from index -7 to -2 is  ['t', 'u', 'v', 'w', 'x']
Slice from index 4 to end is ['t', 'u', 'v', 'w', 'x', 'y', 'z']
Slice from start to index 7 (exclusive) is ['p', 'q', 'r', 's', 't', 'u', 'v']
Slice alternate elements starting from index 0 to 10 is ['p', 'r', 't', 'v', 'x']

In [33]:
#adding elements to the list #list.append() takes exactly one argument
#listname.append('data in string',data in int)

data = []
data.append("2")
print(data)

data.append("4")
print(data)

data.append("6")
print(data)

#adding mulitple elment at once to list
#list.extend() takes multiple argument

data.extend([8, 10, 12]) # Adding multiple elements from single list. #['2', '4', '6', 8, 10, 12]
print(data)

data.append([14, 16, 18]) # adding whole list inside list as single element
print(data)

['2']
['2', '4']
['2', '4', '6']
['2', '4', '6', 8, 10, 12]
['2', '4', '6', 8, 10, 12, [14, 16, 18]]

In [38]:
# Create the first list
num = [1, 3, 5, 7]
print("Original num list:", num)

# Create the second list
even = [2, 4, 6, 8]
print("Even numbers list to be added:", even)

# Add all elements from the 'even' list to the 'num' list using extend()
num.extend(even)

# Print the updated 'num' list
print("Updated num list after extend:", num)

Original num list: [1, 3, 5, 7]
Even numbers list to be added: [2, 4, 6, 8]
Updated num list after extend: [1, 3, 5, 7, 2, 4, 6, 8]

In [40]:
#adding elemts to thr list at a sepcific position using insertion method

fruits = ['apple', 'banana' , 'orange']
print('og list: ',fruits)

#inserting 'cherry' at index 2
fruits.insert(2, 'cherry')

print(fruits)


#Remove elements using remove method
# and clearing list

names = ['saurabh', 'veeraj', 'sumit', 'raj']
print(names)

#remove name
names.remove('saurabh')
print(names)

#cleraing entire list
names.clear()
print(names)

og list:  ['apple', 'banana', 'orange']
['apple', 'banana', 'cherry', 'orange']
['saurabh', 'veeraj', 'sumit', 'raj']
['veeraj', 'sumit', 'raj']
[]

In [42]:
# Create a list of people
pep = ['saurabh', 'tanmay', 'mukul', 'ashish']
print("Original list:", pep)

# Deleting the second item (index 1: 'tanmay')
del pep[1]
print("After deleting second item:", pep)

# Deleting item from index 1 to index 2 (i.e., 'mukul')
# Note: End index is exclusive → pep[1:3] deletes index 1 and 2
del pep[1:3]
print("After deleting items from index 1 to 2:", pep)

# Deleting the entire list
del pep

# Trying to print the deleted list
# This will raise an error: NameError: name 'pep' is not defined
#print(pep)

Original list: ['saurabh', 'tanmay', 'mukul', 'ashish']
After deleting second item: ['saurabh', 'mukul', 'ashish']
After deleting items from index 1 to 2: ['saurabh']

In [46]:
# Remove elements using pop method.

pep = ['saurabh','tanmay','mukul','ashish']

print(pep)

print(pep.pop())
print(pep)


# Original list of colors
colors = ['red', 'black', 'green']
print('Original list:', colors)

# Updating the third item (index 2) from 'green' to 'blue'
colors[2] = 'blue'

# Printing the updated list
print('Updated list:', colors)

#length of list
print("Total elements", len(colors))

['saurabh', 'tanmay', 'mukul', 'ashish']
ashish
['saurabh', 'tanmay', 'mukul']
Original list: ['red', 'black', 'green']
Updated list: ['red', 'black', 'blue']
Total elements 3

In [48]:
# Using count() method in list

# List of numbers
num = [1, 2, 3, 2, 5, 4,9, 2, 9, 8, 9, 7, 9]

# Count how many times 2 appears
count1 = num.count(2)

# Count how many times 9 appears
count2 = num.count(9)

# Print results using f-strings
print(f"Number 2 appears in the given list {count1} times")
print(f"Number 9 appears in the given list {count2} times")

Number 2 appears in the given list 3 times
Number 9 appears in the given list 4 times

In [49]:
# Original list of GPAT students
gpat_students = ['Vaibhav', 'Kishor', 'Kundlik']

# ✅ Creating a real backup copy of the list
backup_students = gpat_students.copy()

# ✅ Creating just a reference (not a real copy)
reference_students = gpat_students

# Print all three lists
print("Original List      :", gpat_students)
print("Backup Copy List   :", backup_students)
print("Reference List     :", reference_students)

# ✅ Now let's modify the original list
gpat_students.append('Mangesh')

# Print again to see what changed
print("\nAfter adding 'Mangesh' to original:")
print("Original List      :", gpat_students)
print("Backup Copy List   :", backup_students)
print("Reference List     :", reference_students)

Original List      : ['Vaibhav', 'Kishor', 'Kundlik']
Backup Copy List   : ['Vaibhav', 'Kishor', 'Kundlik']
Reference List     : ['Vaibhav', 'Kishor', 'Kundlik']

After adding 'Mangesh' to original:
Original List      : ['Vaibhav', 'Kishor', 'Kundlik', 'Mangesh']
Backup Copy List   : ['Vaibhav', 'Kishor', 'Kundlik']
Reference List     : ['Vaibhav', 'Kishor', 'Kundlik', 'Mangesh']

In [50]:
# ✅ Original GPAT scores (unsorted)
marks = [88, 74, 90, 66, 82]
print("Original Marks        :", marks)

# ✅ Sorting marks in ascending order (permanently changes the list)
marks.sort()
print("Ascending Order Marks :", marks)

# ✅ Sorting marks in descending order (permanently changes the list again)
marks.sort(reverse=True)
print("Descending Order Marks:", marks)

# ✅ Using sorted() for ascending order (temporary, original list remains unchanged)
print("Temporary Sorted Marks:", sorted(marks))

# ✅ Print original list again to show it remains changed after sort()
print("Original List Now     :", marks)

Original Marks        : [88, 74, 90, 66, 82]
Ascending Order Marks : [66, 74, 82, 88, 90]
Descending Order Marks: [90, 88, 82, 74, 66]
Temporary Sorted Marks: [66, 74, 82, 88, 90]
Original List Now     : [90, 88, 82, 74, 66]

In [51]:
# ✅ Original list of cities
city = ['pune', 'mumbai', 'nashik', 'yavatmal', 'amravati']
print("Original List              :", city)

# ✅ Sort cities in alphabetical order (A to Z)
city.sort()
print("Alphabetical Order         :", city)

# ✅ Sort cities in reverse alphabetical order (Z to A)
city.sort(reverse=True)
print("Reverse Alphabetical Order :", city)

Original List              : ['pune', 'mumbai', 'nashik', 'yavatmal', 'amravati']
Alphabetical Order         : ['amravati', 'mumbai', 'nashik', 'pune', 'yavatmal']
Reverse Alphabetical Order : ['yavatmal', 'pune', 'nashik', 'mumbai', 'amravati']

In [52]:
# ✅ Original list of strings
text = ['abc', 'wxyz', 'gh', 'a']

# ✅ Sort strings by length in ascending order (shortest to longest)
text.sort(key=len)
print("Ascending Order by Length :", text)

# ✅ Sort strings by length in descending order (longest to shortest)
text.sort(key=len, reverse=True)
print("Descending Order by Length:", text)

Ascending Order by Length : ['a', 'gh', 'abc', 'wxyz']
Descending Order by Length: ['wxyz', 'abc', 'gh', 'a']

In [ ]:
# ✅ A nested list: List inside another list
# This represents a 3x3 matrix (like a table)
mat = [
    [1, 2, 3],   # Row 0
    [4, 5, 6],   # Row 1
    [7, 8, 9]    # Row 2
]

# ✅ Accessing element from row 3 (index 2), column 2 (index 1)
print("Element at Row 3, Column 2:", mat[2][1])   # Output: 8

# ❌ Uncommenting below will throw an IndexError
# print(mat[3][1])    # IndexError: list index out of range

In [53]:
# ✅ Original list
number = [1, 2, 3, 4]
print("Original List:", number)

# ✅ Using list comprehension to double each number
double = [i * 2 for i in number]
print("Doubled List:", double)

Original List: [1, 2, 3, 4]
Doubled List: [2, 4, 6, 8]

In [54]:
# ✅ Original list
number = [1, 2, 3, 4, 5]
print("Original List:", number)

# ✅ Using for loop to create a new list of squares
sq_list = []
for i in number:
    sq_list.append(i * i)    # Squaring each element and appending to new list

print("Using for loop:", sq_list)

# ✅ Using list comprehension to create the same list of squares
sq_list1 = [num * num for num in number]
print("Using list comprehension:", sq_list1)

Original List: [1, 2, 3, 4, 5]
Using for loop: [1, 4, 9, 16, 25]
Using list comprehension: [1, 4, 9, 16, 25]

In [55]:
# ✅ Using list comprehension to filter even numbers from 1 to 10
even = [num for num in range(1, 11) if num % 2 == 0]
print("Even numbers from 1 to 10:", even)

# ✅ Using list comprehension to filter even numbers from a given list
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sort_even = [i for i in num if i % 2 == 0]
print("Even numbers from the list:", sort_even)

Even numbers from 1 to 10: [2, 4, 6, 8, 10]
Even numbers from the list: [2, 4, 6, 8]

In [56]:
# ✅ List of numbers
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# ✅ Use list comprehension to label each number as Even or ODD
even_odd = ['Even' if i % 2 == 0 else 'ODD' for i in num]

# ✅ Print result
print("Even/Odd classification:", even_odd)

Even/Odd classification: ['ODD', 'Even', 'ODD', 'Even', 'ODD', 'Even', 'ODD', 'Even', 'ODD', 'Even']

In [57]:
# ✅ Given word
word = 'Saurabh'

# ✅ Define vowels
vowels = 'aeiouAEIOU'

# ✅ Find vowels using list comprehension
vowel_list = [char for char in word if char in vowels]
print("Vowels:", vowel_list)

# ✅ Find consonants using list comprehension
consonant_list = [char for char in word if char not in vowels]
print("Consonants:", consonant_list)

Vowels: ['a', 'u', 'a']
Consonants: ['S', 'r', 'b', 'h']

In [58]:
# ✅ Create an empty list to store marks
marks = []

# ✅ Ask user if they want to enter marks
res = input("Do you want to enter some data? (y/n): ")

# ✅ Loop to take marks input until user says 'n'
while res.lower() == "y":
    m = int(input("Enter marks: "))
    marks.append(m)
    res = input("Do you want to enter more marks? (y/n): ")

# ✅ Initialize counters
c1, c2, c3, c4 = 0, 0, 0, 0

# ✅ Categorize marks into 4 groups
for m in marks:
    if m > 80:
        c1 += 1     # Count of marks > 80
    elif m > 60:
        c2 += 1     # Count of marks > 60 and ≤ 80
    elif m > 40:
        c3 += 1     # Count of marks > 40 and ≤ 60
    else:
        c4 += 1     # Count of marks ≤ 40

# ✅ Print result
print("Marks > 80:", c1)
print("Marks > 60:", c2)
print("Marks > 40:", c3)
print("Marks ≤ 40:", c4)

Do you want to enter some data? (y/n): y
Enter marks: 60
Do you want to enter more marks? (y/n): y
Enter marks: 78
Do you want to enter more marks? (y/n): n
Marks > 80: 0
Marks > 60: 1
Marks > 40: 1
Marks ≤ 40: 0

# New Section